version: .{build}
clone_folder: c:\work\sharp-arch

pull_requests:
  do_not_increment_build_number: true

nuget:
  disable_publish_on_pr: true

os: Visual Studio 2017

environment:
  coveralls_repo_token:
    secure: FgZlD1O2ilcGB6nF7cIgNcF6f8wWJk//ish6EG800QfuMd0y3BQWUXkl9u7TB4yG
  appveyor_cache_entry_zip_args: -t7z -m0=lzma -mx=5 -ms=on
  CAKE_SETTINGS_SKIPVERIFICATION: true
  CAKE_SETTINGS_SKIPPACKAGEVERSIONCHECK: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

cache:
  - c:\work\sharp-arch\tmp\ResharperCaches
#  - c:\work\sharp-arch\tmp\DupFinderCaches
  - c:\tmp\cake\tools -> appveor.yml

install:
  - ps: ./dotnet-install.ps1  -Version 2.1.403 -InstallDir "C:\Program Files\dotnet"

build_script:
  - ps: ./build.ps1 -verbosity diagnostic

test: off

artifacts:
  - path: Drops/Packages/*.nupkg
    name: Nugets
  - path: Drops/Inspections/CodeDuplicates.html
    name: CodeDuplicates
  - path: Drops/Inspections/CodeInspections.html
    name: CodeInspections

deploy:
  - provider: NuGet
    api_key:
      secure: LDpvZHpeCAwMHiA6qFLI4LIl8+PkcVpn73wP59ouw8Fab7tUqAVd2hVA3fWciszz
    on:
      branch:
        - develop
        - /release\/v.*/
        - /releases.*/
        - /hotfixes.*/
